 .dropDown {
    z-index: 2;
    position: absolute;
    height: auto;
    width: auto;
    background-color: #ecf0f1;
    top: 4rem;
    right: .4rem;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}

.dropDown::before {
    content: '';
    position: absolute;
    top: -.72rem;
    right: 1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #ecf0f1;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

ul {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
}


.dropdown-menu a, .dropdown-menu button {
    color: #003366;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.dropdown-menu a:hover, .dropdown-menu button:hover {
    text-decoration: underline;
}  

.current-user {
    margin-top: 10px;
}

.log-out-button {
    margin-top: 2px;
}
