* {
    color: #333333;
}
.filters {
    background-color: #ECF0F1;
    width: 170px;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 900px) {
    .filter{
        width: 120px;
    }
}

@media only screen and (max-width: 900px) {
    .filters{
        padding: 0px;
        width: 120px;
    }
}

.filter-category-header {
    font-size: 18px;
    margin-bottom: 8px;
}

.filter-item {
    margin: 5px;
    font-size: 12px;
}

.filter-item input {
    margin-right: 10px;
}

button {
    color: #003366;
    background: transparent;
    border: none;
    font-size: 14px;
    margin-top: 7px;
}

button:hover {
    cursor: pointer;
}