.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ecf0f1;
    width: 100%;
    height: 70px;
    font-size: 20px;
}

.dropdown-menu {
    position: relative;
    display: none;
    flex-direction: column;
}
  
.dropdown-toggle {
    background: #9d9fa0;
    position: relative;
    border: none;
    display: grid;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    height: 25px;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    top: 25px;
    z-index: 1;
    background: #ecf0f1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.dropdown-list li {
    padding: 10px;
}
  
.dropdown-menu.open .dropdown-list {
    display: block;
}

@media only screen and (max-width: 900px) {
    .dropdown-menu {
        display: flex;
        flex-direction: row;
    }

    .dropdown-toggle {
        width: 100%;
    }

    .dropdown-list {
        position: static;
    }

    .navbar-right{
        display: none;
    }

    .navbar-left{
        display: none;
    }
}

.nav-item {
    margin: 20px;
}

.nav-item a{
    text-decoration: none;
}

.nav-item a:hover{
    color: #003366;
    text-decoration: underline;
}
  
.navbar-center-content {
    display: inline-block;
    text-align: center;
}

.navbar-center-content h1 {
    color: #003366;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-center-content p {
    font-size: 14px;
}


  